<!DOCTYPE html>
<html lang="en-us">

<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  
  <!-- <title>Cregit: <TMPL_VAR file_name></title> -->
  <title>DIR_NAME &#183; cregit</title>
  
  <!-- Script -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.contextMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.ui.position.js"></script>
  <!-- <script src="<TMPL_VAR web_root>/public/js/cregit.js"></script> -->
  <script src="public/js/cregit.js"></script>
  <!-- <script src="<TMPL_VAR web_root>/public/js/cregit-directory.js"></script> -->
  <script src="public/js/cregit-directory.js"></script>

	
  <!-- CSS -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.contextMenu.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <!-- <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/cregit-colors.css"> -->
  <link rel="stylesheet" href="public/css/cregit-colors.css">
  <!-- <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/cregit-directory.css"> -->
  <link rel="stylesheet" href="public/css/cregit-directory.css">
  <!-- <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/poole.css"> -->
  <!-- <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/syntax.css"> -->
  <!-- <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/lanyon.css"> -->
  <!-- <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/cregit.css"> -->
  
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">
  
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>

<body class="flex-columns">
	<div id="navbar">
		<div id="navbar-title-box" class="flex-columns">
      <h1 id="title-text">SOME_DIR_NAME</h1>
      <span id="origin-text"><a class="breadcrumb-nav" href="../../">ROOT</a>&nbsp;&nbsp;<a href="../">PAR_DIR</a>&nbsp;&nbsp;</span>
    </div>
    <div id="navbar-option-box" class="flex-columns flex-vcenter">
      <span>Highlighting</span>
      <select id="select-highlighting" class="select-highlighting">
        <option value="reset">Reset All</option>
        <option value="author" selected="selected">By Author</option>
        <option value="age">By Age</option>
        <option disabled>──────────</option>
        <option id="1">some name 1</option>
        <option id="2">some name 2</option>
        <option id="3">some name 3</option>
        <option id="4">some name 4</option>
      </select>
    </div>	
    <div id="navbar-date-range" class="flex-columns flex-vcenter">
      <div><input id="date-from" type="date"><input id="date-to" type="date"></div>
      <div id="date-slider-range"></div>
      <div id="date-gradient" class="invisible"></div>
    </div>
	</div>
	
	<div id="main-content">
    <div id="minimap" class="minimap layout-minimap">
      <div id="minimap-view-shade" class="minimap-view-shade"></div>
      <canvas id="minimap-image" class="minimap-image"></canvas>
      <div id="minimap-view-frame" class="minimap-view"></div>
    </div>

    <div id="main-body" class="flex-columns">
      <div id="stats-view">
        <table id="stats-table">
          <caption>Contributors: <span id="contributor-count"><TMPL_VAR contributors_count></span></caption>
            <thead>
              <tr>
                <th>Author</th>
                <th>Tokens</th>
                <th>Token Proportion</th>
                <th>Commits</th>
                <th>Commit Proportion</th>
              </tr>
            </thead>
            <tbody>
                <tr class="contributor-row">
                    <td><span class="table-author author0 author-label" data-authorId="0">brandon williams</span></td>
                    <td>529</td>
                    <td>49.95%</td>
                    <td>5</td>
                    <td>16.13%</td>
                  </tr>
                  <tr class="contributor-row">
                    <td><span class="table-author author1 author-label" data-authorId="1">dmitry potapov</span></td>
                    <td>113</td>
                    <td>10.67%</td>
                    <td>1</td>
                    <td>3.23%</td>
                  </tr>
                  <tr class="contributor-row">
                    <td><span class="table-author author2 author-label" data-authorId="2">johannes sixt</span></td>
                    <td>103</td>
                    <td>9.73%</td>
                    <td>3</td>
                    <td>9.68%</td>
                  </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Total</td>
                <td><TMPL_VAR total_tokens></td>
                <td></td>
                <td><TMPL_VAR total_commits></td>
                <td></td>
              </tr>
            </tfoot>
        </table>
      </div>

      <hr class="flex-ruler">

      <div id="stats-view">
        <h2>Subdirectories:</h2>
        <ul>
          <li>
            <a href="#">block-sha1</a>
            <div class="content-stats-box">
              <button type="button" class="content-stats-graph" style="width: 90%;">
              <span class="content-color" aria-label="25%" style="width: 25%; background-color: hsl(017, 097%, 044%)">25%</span>
              <span class="content-color" aria-label="20%" style="width: 20%; background-color: hsl(169, 049%, 031%)">20%</span>
              <span class="content-color" aria-label="10%" style="width: 10%; background-color: hsl(208, 068%, 052%)">10%</span>
              <span class="content-color" aria-label="45%" style="width: 45%; background-color: #dddddd">45%</span>
              </button>
            </div>
            <div class="constent-stats-table-wrapper">
              <div class="content-stats-table">
              <table id="stats-table">
                <tr>
                  <td>some name 1</td>
                  <td>25%</td>
                  <td>2541</td>
                </tr>
                <tr>
                  <td>some name 2</td>
                  <td>25%</td>
                  <td>2541</td>
                </tr>
                <tr>
                  <td>some name 3</td>
                  <td>25%</td>
                  <td>2541</td>
                </tr>
                <tr>
                  <td>some name 1</td>
                  <td>25%</td>
                  <td>2541</td>
                </tr>
                <tr>
                  <td>some name 1</td>
                  <td>25%</td>
                  <td>2541</td>
                </tr>
              </table>
            </div>
            </div>
            
          </li>
          <li>
            <a href="#">builtin</a>
            <div class="content-stats-box">
              <button type="button" class="content-stats-graph" style="width: 75%;">
                <span class="content-color" aria-label="20%" style="width: 20%; background-color: hsl(208, 068%, 052%)">20%</span>
                <span class="content-color" aria-label="18%" style="width: 18%; background-color: hsl(017, 097%, 044%)">18%</span>
                <span class="content-color author30" aria-label="52%" style="width: 52%; background-color: var(--author-color);">52%</span>
              </button>
            </div>
            <div class="constent-stats-table-wrapper">
              <div class="content-stats-table">
                <table id="stats-table">
                  <tr>
                    <td>some name 1</td>
                    <td>35%</td>
                    <td>2541</td>
                  </tr>
                  <tr>
                    <td>some name 2</td>
                    <td>25%</td>
                    <td>2541</td>
                  </tr>
                  <tr>
                    <td>some name 3</td>
                    <td>40%</td>
                    <td>2541</td>
                  </tr>
                </table>
              </div>
            </div>
          </li>
          <li>
            <a href="#">compat</a>
            <div class="content-stats-box">
              <button type="button" class="content-stats-graph" style="width: 80%;">
              <span class="content-color" aria-label="25%" style="width: 25%; background-color: hsl(017, 097%, 044%)">25%</span>
              <span class="content-color" aria-label="20%" style="width: 20%; background-color: hsl(169, 049%, 031%)">20%</span>
              <span class="content-color" aria-label="10%" style="width: 10%; background-color: hsl(208, 068%, 052%)">10%</span>
              <span class="content-color" aria-label="45%" style="width: 45%; background-color: #dddddd">45%</span>
            </button>
          </div>
            
          </li>
          <li><a href="#">contrib</a></li>
          <li><a href="#">ewah</a></li>
          <li><a href="#">refs</a></li>
          <li><a href="#">t</a></li>
        </ul>
        <hr class="flex-ruler">
        <h2>Files:</h2>
			  <ul>
  				<li>
            <a href="#">abspath.c</a>
            <span class="content-stats-box">
              <button type="button" class="content-stats-graph" style="width: 15%;">
                <span class="content-color" title="some name 1" style="width: 70%; background-color: hsl(208, 068%, 052%)">70%</span>
                <span class="content-color" title="some name 2" style="width: 18%; background-color: hsl(017, 097%, 044%)">18%</span>
                <span class="content-color" title="some name 3" style="width: 12%; background-color: hsl(169, 049%, 031%)">12%</span>
              </button>
            </span>
          </li>
  				<li>
            <a href="#">advice.c</a>
            <span class="content-stats-box">
              <button type="button" class="content-stats-graph" style="width: 10%;">
                <span class="content-color" title="some name 1" style="width: 70%; background-color: hsl(208, 068%, 052%)">70%</span>
                <span class="content-color" title="some name 2" style="width: 18%; background-color: hsl(017, 097%, 044%)">18%</span>
                <span class="content-color" title="some name 3" style="width: 12%; background-color: hsl(169, 049%, 031%)">12%</span>
              </button>
            </span>
          </li>
          <li>
            <a href="#">advice.h</a>
            <span class="content-stats-box">
              <button type="button" class="content-stats-graph" style="width: 19%;">
                <span class="content-color" title="some name 1" style="width: 70%; background-color: hsl(208, 068%, 052%)">70%</span>
                <span class="content-color" title="some name 2" style="width: 18%; background-color: hsl(017, 097%, 044%)">18%</span>
                <span class="content-color" title="some name 3" style="width: 12%; background-color: hsl(169, 049%, 031%)">12%</span>
              </button>
            </span>
          </li>
		  		<li>
            <a href="#">alias.c</a>
            <span class="content-stats-box">
              <button type="button" class="content-stats-graph" style="width: 5%;">
                <span class="content-color" title="some name 1" style="width: 70%; background-color: hsl(208, 068%, 052%)">70%</span>
                <span class="content-color" title="some name 2" style="width: 18%; background-color: hsl(017, 097%, 044%)">18%</span>
                <span class="content-color" title="some name 3" style="width: 12%; background-color: hsl(169, 049%, 031%)">12%</span>
              </button>
            </span>
          </li>
          <li>
            <a href="#">alloc.c</a>
            <span class="content-stats-box">
              <button type="button" class="content-stats-graph" style="width: 11%;">
                <span class="content-color" title="some name 1" style="width: 60%; background-color: hsl(208, 068%, 052%)">60%</span>
                <span class="content-color" title="some name 2" style="width: 18%; background-color: hsl(017, 097%, 044%)">18%</span>
                <span class="content-color" title="some name 3" style="width: 12%; background-color: hsl(169, 049%, 031%)">12%</span>
                <span class="content-color" title="some name 4" style="width: 10%; background-color: #dddddd">10%</span>
              </button>
            </span>
            </li>
          <li>
            <a href="#">apply.c</a>
            <span class="content-stats-box">
              <button type="button" class="content-stats-graph" style="width: 15%;">
                <span class="content-color" title="some name 1" style="width: 70%; background-color: hsl(208, 068%, 052%)">70%</span>
                <span class="content-color" title="some name 2" style="width: 18%; background-color: hsl(017, 097%, 044%)">18%</span>
                <span class="content-color" title="some name 3" style="width: 12%; background-color: hsl(169, 049%, 031%)">12%</span>
              </button>
            </span>
            </li>
				  <li><a href="#">apply.h</a></li>
  				<li><a href="#">abspath.c</a></li>
	  			<li><a href="#">advice.c</a></li>
		  		<li><a href="#">advice.h</a></li>
			  	<li><a href="#">alias.c</a></li>
				  <li><a href="#">alloc.c</a></li>
  				<li><a href="#">apply.c</a></li>
	  			<li><a href="#">apply.h</a></li>
		  		<li><a href="#">abspath.c</a></li>
			  	<li><a href="#">advice.c</a></li>
				  <li><a href="#">advice.h</a></li>
  				<li><a href="#">alias.c</a></li>
	  			<li><a href="#">alloc.c</a></li>
		  		<li><a href="#">apply.c</a></li>
				  <li><a href="#">apply.h</a></li>
  				<li><a href="#">abspath.c</a></li>
	  			<li><a href="#">advice.c</a></li>
		  		<li><a href="#">advice.h</a></li>
			  	<li><a href="#">alias.c</a></li>
				  <li><a href="#">alloc.c</a></li>
				  <li><a href="#">apply.c</a></li>
  				<li><a href="#">apply.h</a></li>
	  			<li><a href="#">abspath.c</a></li>
		  		<li><a href="#">advice.c</a></li>
			  	<li><a href="#">advice.h</a></li>
				  <li><a href="#">alias.c</a></li>
  				<li><a href="#">alloc.c</a></li>
	  			<li><a href="#">apply.c</a></li>
		  		<li><a href="#">apply.h</a></li>
			  	<li><a href="#">abspath.c</a></li>
				  <li><a href="#">advice.c</a></li>
  				<li><a href="#">advice.h</a></li>
	  			<li><a href="#">alias.c</a></li>
		  		<li><a href="#">alloc.c</a></li>
			  	<li><a href="#">apply.c</a></li>
				  <li><a href="#">apply.h</a></li>
			</ul>
      </div>
      
    </div>
  </div>

</body>
</html>

<!-- 
Total commits: <TMPL_VAR total_commits>
		Total Tokens: <TMPL_VAR total_tokens>
		contributors:
		<TMPL_LOOP contributors> - [<TMPL_VAR __index__>]
			id: <TMPL_VAR id>
			name: <TMPL_VAR ESCAPE=JS name>
			commits: <TMPL_VAR commits>
			tokens: <TMPL_VAR tokens>
			commit_proportion: <TMPL_VAR commit_proportion>
			token_proportion: <TMPL_VAR token_proportion>
			commit_percent: <TMPL_VAR commit_percent>
			token_percent: <TMPL_VAR token_percent>
		</TMPL_LOOP> 
-->