<!DOCTYPE html>
<html lang="en-us">
<body>
<pre>
Documentation for the Perl HTML::Template input syntax can be found at:
<a href="https://metacpan.org/pod/HTML::Template">https://metacpan.org/pod/HTML::Template</a>

cregit_version: <TMPL_VAR cregit_version>
file_name: <TMPL_VAR ESCAPE=HTML file_name>					<!-- IMPORTANT: Must be escaped -->
creation_date: <TMPL_VAR creation_date>
creation_author: <TMPL_VAR ESCAPE=HTML creation_author>		<!-- IMPORTANT: Must be escaped -->
total_commits: <TMPL_VAR total_commits>
total_tokens: <TMPL_VAR total_tokens>
line_count: <TMPL_VAR line_count>
contributors_count: <TMPL_VAR contributors_count>
web_root: <TMPL_VAR web_root>								<!-- Defines the root website url -->
git_url: <TMPL_VAR git_url>									<!-- Defines the git repo url corresponding to the repo that was processed -->

<!-- The list of authors in the file sorted descending by number of tokens committed -->
contributors:
	<TMPL_LOOP contributors> - [<TMPL_VAR __index__>]
		id: <TMPL_VAR id>
		name: <TMPL_VAR ESCAPE=HTML name>					<!-- IMPORTANT: Must be escaped -->
		commits: <TMPL_VAR commits>							<!-- Number of tokens -->
		tokens: <TMPL_VAR tokens>							<!-- Number of commits -->
		commit_proportion: <TMPL_VAR commit_proportion>		<!-- File-wide commit proportion as a fractional decimal -->
		token_proportion: <TMPL_VAR token_proportion>		<!-- File-wide token proportion as a fractional decimal -->
		commit_percent: <TMPL_VAR commit_percent>			<!-- File-wide commit proportion as a percentage -->
		token_percent: <TMPL_VAR token_percent>				<!-- File-wide token proportion as a percentage -->
	</TMPL_LOOP>
	
<!-- The 'contributors' list sorted lexigraphically by author name. -->
contributors_by_name:
	<TMPL_LOOP contributors_by_name> - [<TMPL_VAR __index__>] <TMPL_VAR ESCAPE=HTML name>
	</TMPL_LOOP>

<!-- statistics on each relevent commit identified by cregit -->
commits:
	<TMPL_LOOP commits> - [<TMPL_VAR __index__>]
		cid: <TMPL_VAR cid>
		cregit_cid: <TMPL_VAR cregit_cid>
		author: <TMPL_VAR ESCAPE=HTML author>				<!-- IMPORTANT: Must be escaped -->
		author_id: <TMPL_VAR ESCAPE=JS author_id>
		date: <TMPL_VAR date>
		epoch: <TMPL_VAR epoch>
		summary: <TMPL_VAR ESCAPE=HTML summary>				<!-- IMPORTANT: Must be escaped -->
	</TMPL_LOOP>

<!-- Groups of tokens as parsed by cregit. (e.g. begin_function/end_function) -->
content_groups:
	<TMPL_LOOP content_groups> - [<TMPL_VAR __index__>]
		type: <TMPL_VAR type>
		line_start: <TMPL_VAR line_start>
		line_end: <TMPL_VAR line_end>
		tokens: <TMPL_VAR tokens>
		commits: <TMPL_VAR commits>
		decltype: <TMPL_VAR decltype>
		declaration: <TMPL_VAR ESCAPE=HTML declaration>		<!-- IMPORTANT: Must be escaped -->
		spans: [<TMPL_VAR spans_count>]						<!-- The commit spans associated with this group. See the 'commit_spans' listing below for associated variables -->
		commits_by_author: [<TMPL_LOOP contributors><TMPL_VAR commits>, </TMPL_LOOP>]	<!-- Commits by author in the same order as defined in 'contributors' -->
		tokens_by_author: [<TMPL_LOOP contributors><TMPL_VAR tokens>, </TMPL_LOOP>]		<!-- Tokens by author in the same order as defined in 'contributors' -->
	</TMPL_LOOP>

<!-- The entries of content_groups filtered where [type == 'function'] -->
function_stats:
	<TMPL_LOOP function_stats> - [<TMPL_VAR __index__>] <TMPL_VAR ESCAPE=HTML declaration>
	</TMPL_LOOP>

<!-- Sequential groups of tokens all belonging the same commit -->
commit_spans:
	<TMPL_LOOP commit_spans> - [<TMPL_VAR __index__>]
		start: <TMPL_VAR start>
		length: <TMPL_VAR length>
		cid: <TMPL_VAR cid>
		cidx: <TMPL_VAR cidx>								<!-- An index into the above 'commits' list to find the span's associated commit info -->
		author: <TMPL_VAR author>
		author_id: <TMPL_VAR author_id>						<!-- An index into the above 'contributors' list to find the span's associated author -->
		body: <TMPL_VAR ESCAPE=js body>						<!-- IMPORTANT: Must be escaped -->
	</TMPL_LOOP>

</pre>
</body>
</html>