<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  
  <title>Cregit: <TMPL_VAR file_name></title>
  
  <!-- Script -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.contextMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.ui.position.js"></script>
  <script src="<TMPL_VAR web_root>/public/js/cregit.js"></script>
  <script src="<TMPL_VAR web_root>/public/js/cregit-page.js"></script>
	
  <!-- CSS -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.0/jquery.contextMenu.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/cregit-colors.css">
  <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/cregit-page.css">
  <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/poole.css">
  <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/syntax.css">
  <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/lanyon.css">
  <link rel="stylesheet" href="<TMPL_VAR web_root>/public/css/cregit.css">
  
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">
  
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>