<!DOCTYPE html>
<html lang="en-us">
<TMPL_INCLUDE Name="header.tmpl">

<body>
<div id="navbar">
  <div id="navbar-title-box" class="flex-columns">
    <h1 class="title-text"><TMPL_VAR file_name></h1>
	<span class="origin-text"><TMPL_VAR creation_date /> | <TMPL_VAR creation_author /></span>
  </div>
  <div id="navbar-option-box" class="flex-columns flex-vcenter">
    <span>Highlighting</span>
    <select id="select-highlighting" class="select-highlighting">
      <option value="author">By Author</option>
	  <option value="age">By Age</option>
      <option value="commit">By Commit</option>
      <option disabled>──────────</option>
      <TMPL_LOOP contributors_sorted><option id="<TMPL_VAR id>" value="single-author"><TMPL_VAR name></option>
      </TMPL_LOOP>
    </select>
	</span>
  </div>
  <div id="navbar-date-range" class="flex-columns flex-vcenter">
	<div><input id="date-from" type="date"><input id="date-to" type="date"></div>
	<div id="date-slider-range"></div>
  </div>
</div>
<div id="commit-info" class="commit-info layout-infobox hidden">
  <pre style="font-weight:bold;" class="infotext">Commit</pre>
  <a id="commit-hash" class="infotext" href="#"></a>
  <pre id="commit-author" class="infotext"></pre>
  <pre id="commit-date" class="infotext"></pre>
  <pre id="commit-comment" class="summaryBox"></pre>
</div>
<div id="minimap" class="minimap layout-minimap">
  <div id="minimap-view-shade" class="minimap-view-shade"></div>
  <canvas id="minimap-image" class="minimap-image"></canvas>
  <div id="minimap-view-frame" class="minimap-view"></div>
</div>

<div id="main-content">

<!-- Contributors -->
<div class="layout-contributors"/>
  <pre>
  <table class="contributors-table">
    <caption>Overall Contributors:</caption>
    <tr class="table-header-row">
      <th>Author</th>
      <th>Tokens</th>
      <th>Token Proportion</th>
      <th>Commits</th>
      <th>Commit Proportion</th>
    </tr>
    <TMPL_LOOP contributors>
    <tr class="contributor-row">
      <td><span class="table-author author<TMPL_VAR id> author-label" data-authorId="<TMPL_VAR id>"><TMPL_VAR name></span></td>
      <td><TMPL_VAR tokens></td>
      <td><TMPL_VAR token_percent></td>
      <td><TMPL_VAR commits></td>
      <td><TMPL_VAR commit_percent></td>
    </tr></TMPL_LOOP>
    <tr class="table-footer-row">
      <td>Total</td>
      <td><TMPL_VAR total_tokens></td>
      <td></td>
      <td><TMPL_VAR total_commits></td>
      <td></td>
  </table>
  </pre>
</div>

<hr>

<div id="source-view">

<pre id="line-numbers"></pre>

<!-- Source Content -->
<pre id="source-content" class="prettyprint lang-c">
<TMPL_LOOP Commit_Spans><a class="cregit-span author<TMPL_VAR author_id>" data-cidx="<TMPL_VAR cidx>"><TMPL_VAR body></a></TMPL_LOOP>
</pre>

</div>

<hr>
<div id="footer">
  <div class="credits">Created with Cregit <a href="http://cregit.turingmachine.org">http://cregit.turingmachine.org</a></div>
  <div>Version <TMPL_VAR cregit_version></div>
</div>
</div>

<!-- Data Records -->
<script>
var commits = [
<TMPL_LOOP commits>{ "cid":"<TMPL_VAR cid>", "timestamp":"<TMPL_VAR epoch>", "authorId":"<TMPL_VAR ESCAPE=JS author_id>", "summary":"<TMPL_VAR ESCAPE=JS summary>" },
</TMPL_LOOP>];

var authors = [
<TMPL_LOOP contributors>{ "authorId":"<TMPL_VAR id>", "name":"<TMPL_VAR ESCAPE=JS name>" },
</TMPL_LOOP>];

var line_count = <TMPL_VAR line_count>;
var git_url = "<TMPL_VAR ESCAPE=JS git_url>";
</script>
</body>
</html>