:root
{
	--palette1: rgb(4, 9, 21);
	--palette2: rgb(12, 19, 34);
	--palette3: rgb(22, 29, 45);
	--palette4: rgb(79, 87, 105);
	--palette5: rgb(127, 136, 154);
	
	--highlight1: rgb(180, 180, 180);
	--highlight2: rgb(205, 205, 205);
	--highlight3: rgb(224, 224, 224);
	--highlight4: rgb(240, 240, 240);
	
	--accent1: rgb(210, 210, 255);
}

.cregit-span
{
	color: var(--author-color);
}

.color-highlight
{
	color: #BB0000;
}

.color-age
{
	color: hsl(var(--age-hue, 0), var(--age-sat, 0%), var(--age-lum, 100%));
}

.color-fade
{
	color: #DDDDDD;
}

.color-ease
{
	/* Looks nice, but very slow on ~4000 line files */
	-moz-transition:color 0.2s ease-in;
    -o-transition:color 0.2s ease-in;
    -webkit-transition:color 0.2s ease-in;
}

.author-label { color: var(--author-color);	}
.author0 { --author-color: hsl(017, 097%, 044%); }
.author1 { --author-color: hsl(169, 049%, 031%); }
.author2 { --author-color: hsl(208, 068%, 052%); }
.author3 { --author-color: hsl(316, 056%, 025%); }
.author4 { --author-color: hsl(104, 044%, 045%); }
.author5 { --author-color: hsl(329, 089%, 037%); }
.author6 { --author-color: hsl(247, 087%, 031%); }
.author7 { --author-color: hsl(182, 082%, 033%); }
.author8 { --author-color: hsl(000, 000%, 000%); }
.author9 { --author-color: hsl(312, 092%, 028%); }
.author10 { --author-color: hsl(034, 094%, 053%); }
.author11 { --author-color: hsl(156, 096%, 032%); }
.author12 { --author-color: hsl(351, 031%, 051%); }
.author13 { --author-color: hsl(338, 078%, 051%); }
.author14 { --author-color: hsl(273, 073%, 050%); }
.author15 { --author-color: hsl(021, 061%, 036%); }
.author16 { --author-color: hsl(173, 093%, 047%); }
.author17 { --author-color: hsl(091, 091%, 047%); }
.author18 { --author-color: hsl(073, 033%, 025%); }
.author19 { --author-color: hsl(342, 042%, 041%); }
.author20 { --author-color: hsl(238, 098%, 052%); }
.author21 { --author-color: hsl(190, 090%, 026%); }
.author22 { --author-color: hsl(099, 099%, 027%); }
.author23 { --author-color: hsl(277, 037%, 029%); }
.author24 { --author-color: hsl(117, 077%, 029%); }
.author25 { --author-color: hsl(234, 054%, 025%); }
.author26 { --author-color: hsl(143, 063%, 046%); }
.author27 { --author-color: hsl(108, 088%, 037%); }
.author28 { --author-color: hsl(177, 057%, 035%); }
.author29 { --author-color: hsl(095, 055%, 033%); }
.author30 { --author-color: hsl(286, 026%, 028%); }
.author31 { --author-color: hsl(086, 066%, 037%); }
.author32 { --author-color: hsl(039, 039%, 026%); }
.author33 { --author-color: hsl(325, 045%, 032%); }
.author34 { --author-color: hsl(260, 040%, 025%); }
.author35 { --author-color: hsl(047, 047%, 051%); }
.author36 { --author-color: hsl(290, 070%, 040%); }
.author37 { --author-color: hsl(121, 041%, 035%); }
.author38 { --author-color: hsl(043, 083%, 040%); }
.author39 { --author-color: hsl(008, 028%, 041%); }
.author40 { --author-color: hsl(164, 024%, 031%); }
.author41 { --author-color: hsl(147, 027%, 047%); }
.author42 { --author-color: hsl(199, 079%, 038%); }
.author43 { --author-color: hsl(355, 075%, 025%); }
.author44 { --author-color: hsl(303, 023%, 047%); }
.author45 { --author-color: hsl(186, 046%, 047%); }
.author46 { --author-color: hsl(004, 064%, 041%); }
.author47 { --author-color: hsl(056, 036%, 050%); }
.author48 { --author-color: hsl(026, 086%, 039%); }
.author49 { --author-color: hsl(212, 032%, 044%); }
.author50 { --author-color: hsl(065, 025%, 045%); }
.author51 { --author-color: hsl(134, 074%, 042%); }
.author52 { --author-color: hsl(299, 059%, 039%); }
.author53 { --author-color: hsl(160, 060%, 026%); }
.author54 { --author-color: hsl(125, 085%, 025%); }
.author55 { --author-color: hsl(013, 053%, 050%); }
.author56 { --author-color: hsl(030, 050%, 040%); }
.author57 { --author-color: hsl(195, 035%, 030%); }
.author58 { --author-color: hsl(112, 052%, 031%); }
.author59 { --author-color: hsl(151, 071%, 039%); }
.author60 { --author-color: hsl(078, 058%, 049%); }
