:root
{
	--palette1: rgb(4, 9, 21);
	--palette2: rgb(12, 19, 34);
	--palette3: rgb(22, 29, 45);
	--palette4: rgb(59, 67, 85);
	--palette5: rgb(127, 136, 154);
	--palette7: rgb(16, 31, 66);
	--palette8: rgb(45, 64, 108);
	
	--highlight1: rgb(180, 180, 180);
	--highlight2: rgb(205, 205, 205);
	--highlight3: rgb(240, 240, 240);
}

html, body, div, pre, p, img
{
	box-sizing: border-box;
}

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
}

h1
{
	margin: 0px 0px;
}

pre
{
	margin-top: 0px;
	margin-bottom: 4px;
}

.flex-columns
{
	display: flex;
	flex-direction: column;
}

.flex-vcenter
{
	justify-content: center;
}

.text-middle
{
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

/* Navbar CSS */

#navbar
{
	position: fixed;
	left: 0;
    top: 0;
    width: 100%;	
	height: 5em;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	background-color: var(--highlight3);
}

#navbar-title-box
{
	padding: 8px 16px;
	background-color: var(--palette3);
}

#navbar-option-box
{
	padding: 8px 16px;
}

#navbar-date-range
{
	padding: 8px 16px;
}

#navbar-pad-box
{
	
}

.title-text
{
	color: var(--palette5);
}

.origin-text
{
	color: var(--palette4);
}

/* Minimap CSS */

.minimap
{
	position: fixed;
	top: 5em;
	right: 0;
	width: 5vw;
	height: calc(100vh - 5em);
	overflow: hidden;
	background-color: var(--highlight3);
}

.minimap-view-frame
{
	position: absolute;
	height: 5vh;
	width: 100%;
	border: 1px solid var(--highlight3);
}

.minimap-view-shade
{
	position: absolute;
	height: 5vh;
	width: 100%;
	border: 1px solid black;	
	background-color: var(--highlight2);
}

.minimap-image
{
	position: absolute;
	width: 4vw;
	height: 100%;
	margin-left: 1vw;
}

/* Infobox CSS */

.layout-infobox
{
	position: fixed;
	top: 6em;
	right: 10vh;
	width: 21em;
	height: 10em;
	overflow: hidden;
}

.commit-info
{
	padding-top: 8px;
	overflow: hidden;
	background-color: var(--highlight3);
	display: flex;
	flex-direction: column;
}

.infotext
{
	margin-left: 8px;
}

.summaryBox
{
	max-width: 100%;
	padding: 8px;
	margin-bottom: 0px;
	white-space:normal;
	word-wrap: break-word;
	
	background-color: #E0E0E0;
	flex: 100;
}

/* Main Area CSS */

#main-content
{
	padding-top: 5em;
	padding-right: 5vw;
}

#source-view
{
	display: flex;
	flex-direction: row;
}

#source-content
{
	width: 100%;
}

#line-numbers
{
	padding-left: 24px;
	padding-right: 24px;
	text-align: right;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#footer
{
	padding-left: 12px;
	padding-bottom: 4px;
}

/* Contributors Table CSS */

.layout-contributors
{
	width: 100%;
	padding: 16px 16px;
}

.contributors-table
{
	width: 60%;
	padding: 0px 16px;
	border: 1px solid rgb(210, 210, 255);	
	border-radius: 5px;
	margin-left: auto;
    margin-right: auto;
}

.table-header-row { 
  border: solid;
  border-width: 1px 0;
}

.table-header-row > th { 
  cursor: pointer;
}

.table-footer-row { 
  border: solid;
  border-width: 1px 0;
}

.hidden
{
	display: none;
}

.table-author
{
	cursor: pointer;
}

caption
{
	text-align: left;
	font-weight: bold;
}

th
{
	padding: 8px 0px;
	text-align: right;
	font-weight: normal;
}

td
{
	text-align: right;
	padding: 2px 0px;
}

tr:nth-child(even)
{
	background-color: #f2f2f2;
}

th:first-child, td:first-child
{
	padding-left: 16px;
	text-align: left;
}

th:last-child, td:last-child
{
	padding-right: 16px;
}