html, body, div, pre, p, img
{
	box-sizing: border-box;
}

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: auto;
	font-family: sans-serif;
}

h1, pre
{
	margin: 0px 0px;
}

/* Navbar CSS */

#navbar
{
	position: relative;
	left: 0;
    top: 0;
    width: 100%;	
	height: 5em;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	background-color: var(--highlight4);
}

#navbar-title-box
{
	padding: 8px 16px;
	background-color: var(--palette3);
}

#navbar-option-box
{
	padding: 8px 16px;
}

#navbar-date-range
{
	padding: 8px 16px;
}

#date-slider-range
{
	height: 10.8px;
}

#date-gradient
{
	height: 8px;
	border-radius: 2px;
	background-image: linear-gradient(to right, var(--age-old), var(--age-mid), var(--age-new));
	
	-moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    -webkit-transition:opacity 0.2s ease-in;
}

#title-text
{
	color: var(--palette5);
}

#origin-text
{
	color: var(--palette4);
}

/* Minimap CSS */

#minimap
{
	position: sticky;
	float: right;
	top: 0px;
	bottom: 1px;
	left: 90%;
	width: 10%;
	height: 99.9%;
	min-width: 16px;
	background-color: var(--highlight4);
}

#minimap-view-frame
{
	position: absolute;
	height: 5%;
	width: 100%;
	border: 1px solid black;
}

#minimap-view-shade
{
	position: absolute;
	height: 5%;
	width: 100%;
	background-color: var(--highlight2);
}

#minimap-image
{
	position: absolute;
	width: 80%;
	height: 100%;
	margin-left: 20%;
}

/* Infobox CSS */

.layout-infobox
{
	position: fixed;
	top: 8em;
	right: 15%;
	width: 18%;
	overflow-x: auto;
	overflow-y: auto;
}

.commit-info
{
        font-size: 80%;

	padding-top: 2px;
	background-color: var(--highlight4);
	display: flex;
	flex-direction: column;
}

.infotext
{
	margin-left: 8px;
}

.summaryBox
{
	max-width: 100%;
	padding: 8px;
	margin-bottom: 0px;
	white-space:normal;
	word-wrap: break-word;
	
	background-color: var(--highlight3);
	flex: 100;
}

#commit-hash
{
	font-family: monospace;
}

/* Main Area CSS */

#main-content
{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-right: 0.5px; /* Prevent redundant scrollbar on Chrome */
	overflow-y: scroll;
	overflow-x: auto;
}

#main-body
{
	min-height: 100%;
}

#source-view
{
	display: flex;
	flex-direction: row;
}

#source-content
{
	width: 100%;
}

#line-numbers
{
	padding-left: 24px;
	padding-right: 24px;
	margin-bottom: 0px;
	text-align: right;
	min-width: 6em;
	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.line-number
{
	display: block;
	text-decoration: none;
	color: black;
}

#footer
{
	padding-left: 12px;
	padding-bottom: 4px;
}

/* Contributors Table CSS */

#stats-view
{
	width: 80%;
	padding: 5px 5px;
	margin-left: auto;
    margin-right: auto;
}

#select-stats
{
	width: 100%;
}

#stats-table
{
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
/*	table-layout: fixed;*/
}

#stats-table > caption
{
	margin-top: 2em;
	text-align: left;
	font-weight: bold;
	font-family: monospace;
}

#stats-table > thead > tr
{
	border: solid;
	border-width: 1px 0;
	cursor: pointer;
}

#stats-table > tbody > tr > td > span
{
	cursor: pointer;
}

#stats-table > tfoot > tr
{
	border: solid;
	border-width: 1px 0;
}

#stats-table th
{
	padding: 8px 0px;
	padding-left: 8px;
	text-align: right;
	font-family: monospace;
	
	overflow: hidden;
}

#stats-table td
{
	text-align: right;
	padding: 2px 0px;
	padding-left: 8px;
        font-size: 80%;
	font-family: monospace;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#stats-table tr:nth-child(even)
{
	background-color: var(--highlight4);
}

#stats-table th:first-child, #stats-table td:first-child
{
	padding-left: 16px;
	text-align: left;
	width: 25%;
}

#stats-table th:last-child, #stats-table td:last-child
{
	padding-right: 16px;
}

.flex-columns
{
	display: flex;
	flex-direction: column;
}

.flex-vcenter
{
	justify-content: center;
}

.flex-expand
{
	flex-grow: 100;
}

.flex-ruler
{
	margin-left: 0px;
	margin-right: 0px;
}

.text-middle
{
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

.hidden
{
	display: none;
}

.invisible
{
	opacity: 0;
}

/* content list margin space */
ul li 
{
    margin-top: 6px;
}

ul {
	margin-top: 6px;
}

/* content stats graph box */
.content-stats-graph {
    float: left;
    border: 1px solid #dddddd;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
    display: flex;
	padding: 0;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.content-stats-graph:focus {
	outline: none;
}

.content-stats-graph:hover {
	width: 100% !important;
}

.content-color {
    line-height: 15px;
	text-indent: -9999px;
	transition: background-color 0.2s ease-in-out;
	background-color: var(--author-color);
}

.content-color:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.content-color:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.abs-toggle, .full-scale {
	width: 100% !important;
}

button {
    -webkit-appearance: button;
}

.constent-stats-table-wrapper {
	width: 100%;
	float: left;
	display: none;
}

.content-stats-table {
	float: right;
	width: 100%;
	padding: 0px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.breadcrumb-nav {
	color: var(--palette4);
	text-decoration: none;
}

.breadcrumb-nav:hover {
	color: whitesmoke;
}

.content-name {
	max-width: 100%;
	color: blue;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
	overflow: hidden;
	text-decoration: none;
}

.content-name:hover {
	text-decoration: underline;
}

#content-list {
	width: 100%;
	table-layout: fixed;
}

#content-list > thead > tr > th {
	width: 10%;
	text-align: right;
}

#content-list > thead > tr > th:first-child {
	width: 20%;
	text-align: left;
}

#content-list > thead > tr > th:nth-child(3) {
	width: 5%;
}

#content-list > thead > tr > th:last-child {
	width: 55%;
}

#content-list > tbody > tr >td {
	width: 10%;
	text-align: right;
}

#content-list > tbody > tr > td:first-child {
	width: 20%;
	text-align: left;
}

#content-list > tbody > tr > td:nth-child(3) {
	width: 5%;
}

#content-list > tbody > tr > td:last-child {
	width: 55%;
}

/* style for toggle button */
.toggle-btn {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #4f4f4f;
	border-radius: 4px;
	background-color: white;
	transition: all 0.1s ease-in;
	position: relative;
	overflow: hidden;
}

.toggle-btn:focus {
	outline: none;
}

.toggle-btn:hover {
	color: white;
	background-color: #4f4f4f;
	cursor: pointer;
}

.toggle-btn:active {
	color: white;
	background-color: #1f1f1f;
	cursor: pointer;
}

#hide-subdirectory-btn {
	padding: 1px 4px;
	font: 15px;
	display: inline-block;
    vertical-align: middle;
}

.expand-stats-table {
	padding: 0 !important;
}

#expand-stats-table-btn {
	border-radius: 2px;
	width: 100%;
}
